<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Workout</title>
<link rel="stylesheet" href="stylesheet.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div class="form-box">
		<form th:object="${workout}" th:action="@{save}" action="#"
			method="post" autocomplete="off" >
			
			<h2>Add workout</h2>

			<div class="field-box">
				<input type="text" id="activity" th:field="*{activity}" /> 
				<label for="activity">Activity</label>
			</div>

			<div class="field-box">
				<input type="text" id="duration" th:field="*{duration}" /> 
				<label for="duration">Duration (in minutes)</label>

			</div>

			<div class="field-box">
				<input type="text" id="date" th:field="*{date}" /> 
				<label for="date">Date</label>

			</div>

			<div class="field-box">
				<input type="text" id="calories" th:field="*{calories}" />
				<label for="calories">Calories burned</label> 
				
			</div>
			
			<label for="locationlist">Location</label>

			<div class="select-style">
				<select id="locationlist" th:field="*{location}" class="form-control">
					<option th:each="location: ${locations}" th:value="${location.id}"
						th:text="${location.name}"></option>
				</select>
				<label for="locationlist">Location</label> 
			</div>

			<br>
			<br> 
			
			<input type="submit" value="Save" class="button-5"></input>
		</form>
	</div>
</body>
</html>