<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="stylesheet.css">
<title>Edit Workout</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<div class="form-box">
		<form th:object="${workout}" th:action="@{../save}" action="#"
			method="post">
			
			<h2>Edit a workout</h2>

			<input type="hidden" id="id" th:field="*{id}" /> 
			
			
			<div class="field-box">
				<input type="text" id="activity" th:field="*{activity}" />
				<label for="activity">Activity</label> 
			</div>
			
			<div class="field-box">
				<input type="text" id="duration" th:field="*{duration}" />
				<label for="duration">Duration</label> 
			</div>
			
			<div class="field-box">
				<input type="text" id="date" th:field="*{date}" />
				<label for="date">Date</label> 
			</div>
			
			<div class="field-box">
				<input type="text" id="calories" th:field="*{calories}" />
				<label for="isbn">Calories burned</label> 
			</div>
			
			<label for="locationlist">Location</label>
			
			<div class="select-style">
				<label for="locationlist">Location</label> 
				<select id="locationlist" th:field="*{location}" class="form-control">
					<option th:each="location: ${locations}" th:value="${location.id}"
						th:text="${location.name}"></option>
				</select>
			</div>

			<br><br>
			<input type="submit" value="Save" class="button-5"></input>

		</form>
	</div>
</body>
</html>
